<nav class="modern-navbar" [ngClass]="{ 'home-active': activeRoute === '/' }">
  <div class="navbar-container">
    <!-- Logo (center on desktop, left on mobile) -->
    <div class="logo" routerLink="/">
      <span class="logo-icon">E</span>
      <span class="logo-text">SALEH</span>
    </div>

       <!-- Toggle button (mobile) -->
    <button class="menu-toggle" (click)="toggleMenu()">
      <i class="pi" [ngClass]="isMenuOpen ? 'pi-times' : 'pi-align-right'"></i>
    </button>

    <!-- Navigation Links -->
    <ul class="nav-links" [class.active]="isMenuOpen">
      <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</a></li> -->
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</a></li> 
      <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a></li>
      <li><a routerLink="/skills" routerLinkActive="active" (click)="closeMenu()">Skills</a></li>
      <li><a routerLink="/experience" routerLinkActive="active" (click)="closeMenu()">Experience</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
    </ul>
  </div>
</nav>
