
<!-- Hero Section -->
<section class="hero d-flex align-items-center text-white text-center" >
  <canvas id="neutrons-bg"></canvas>

  <div class="container mb-3">
    <!-- Profile Picture -->
    <div class="profile-pic ">
      <img src="/assets/Ehab.png" alt="Ehab ElSayed"
        class="img-fluid rounded-circle shadow-lg" />
    </div>

    <h1 class="display-4 fw-bold animate-fade">{{ profile.name }}</h1>
    <h3 class="mb-3 animate-fade-delay">{{ profile.title }}</h3>
    <p class="lead animate-fade-delay2">{{ profile.tagline }}</p>

    <div class="mt-4 d-flex flex-wrap justify-content-center gap-3 mb-5">
      <a class="btn btn-primary btn-lg shadow" href="/assets/cv-ehab.pdf"
        download>
        <i class="pi pi-download"></i> Download CV
      </a>
      <a class="btn btn-dark btn-lg shadow" routerLink="/contact">
        <i class="pi pi-envelope"></i> Contact Me
      </a>
      <a class="btn btn-outline-light btn-lg shadow" [href]="profile.contacts.linkedin"
        target="_blank">
        <i class="pi pi-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="text-center py-5">Loading...</div>
</ng-template>
<!-- 
<div class="min-margin"> <app-about ></app-about></div>
<div class="min-margin"> <app-skills class="min-margin"></app-skills></div>
<div class="min-margin"> <app-experience class="min-margin"></app-experience></div>
<div class="min-margin"> <app-contact class="min-margin"></app-contact></div>
 

 -->
